*{
    margin: 0;
    padding: 0;
}

:root{
    --primary-color: #edf2fc;
    --secondary-color: #2e2b2b;
}
.dark-theme{
    --primary-color: #071123;
    --secondary-color: #fff;
}
.light {
    --mainColor: #64bcf4;
    --hoverColor: #5bacdf;
    --backgroundColor: #5bacdf;
    --darkOne: #312f3a;
    --darkTwo: #45424b;
    --lightOne: #919191;
    --lightTwo: #aaa;
}
.dark{
    --mainColor: #64bcf4;
    --hoverColor: #5bacdf;
    --backgroundColor: #192e3a;
    --darkOne: #f3f3f3;
    --darkTwo: #fff;
    --lightOne: #ccc;
    --lightTwo: #e7e3e3;
}
.white-color{
    background: var(--primary-color);
}
.black-color{
    color: var(--secondary-color);
}
.container {
    position: relative;
    max-width: 81rem;
    width: 100%;
    margin: 0 auto;
    padding: 0 3rem;
    z-index: 10;
}

.toggle-btn{
    display: inline-block;
    border: none;
    background: var(--darkTwo);
    color: var(--backgroundColor);
    outline: none;
    cursor: pointer;
    height: 39px;
    width: 39px;
    border-radius: 50%;
    font-size: 1.1rem;
    transition: 0.3s;
}

.toggle-btn i{
    line-height: 39px;
}

.toggle-btn i:last-child{
display: none;
}

.toggle-btn:hover{
    background: var(--mainColor);
}

.big-wrapper.light .toggle-btn i:last-child {
    display: none;
}

.big-wrapper.light .toggle-btn i:first-child {
    display: block;
}

.big-wrapper.dark .toggle-btn i:last-child {
    display: block;
}

.big-wrapper.dark .toggle-btn i:first-child{
    display: none;
}

.copy {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}

.ol-article{
        display: block;
        list-style-type: decimal;
        /* list-style-type: disc; */
        /* margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px; */
        padding-inline-start: 40px;
}
/* ------------ */

#icon{
    width: 40px;
    height: 30px;
    cursor: pointer;
    margin-left: 10px;
    margin-top: 6px;
}